nav {background: #2752af;}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}
.parentmenu > li {
    float: left;
    position: relative;
}

.parentmenu > li > a {
    padding: 20px 30px;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 2px;
}
.parentmenu > li > a.active,
.childmenu a:hover {background: #0c9350;}

.childmenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: #2752af;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: .3s linear;
}
.childmenu li {position: relative;}
.childmenu li a {
    color: #ffffff;
    padding: 10px 20px;
    font-size: 13px;
}

.childmenu li a.active { background: #0c9350; }

.childmenu .childmenu {
    position: absolute;
    left: 100%;
    top: 0px;
    transition: .3s linear;
}
nav li > .childmenu > .active {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}
nav li:hover > .childmenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}
